<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
<header>
    <nav>
        <img src="./images/logo.png" alt="">
        <ul>
            <li>
                <a href="">О нас</a>
            </li>
            <li>
                <a href="">Тарифы</a>
            </li>
            <li>
                <a href="">Психологам</a>
            </li>
            <li>
                <a href="">Материалы</a>
            </li>
        </ul>
    </nav>
    <div class="header-main">
        <div class="header-left">
            <div class="text">
                <h1>В YouMi вы не одни, вместе мы справимся</h1>
                <p>Психология личности прямо касается проблем, волнующих каждого человека. С нами Вы сможете найти ответы на непростые и крайне важные вопросы.</p>
            </div>
            <button>Личный кабинет</button>
        </div>
        <div class="header-right">
            <img src="./images/main-pic.png" alt="">
        </div>
    </div>
</header>

<main>
    <div class="main-values">
        <h1>Наши ценности</h1>
        <div class="cards">
            <div class="card">
                <img src="./images/rocket.png" alt="">
                <div class="text">
                    <h2>Вместе мы справимся</h2>
                    <p>Мы всегда рядом. Свяжитесь с психологом в любое время и получите необходимую помощь.</p>
                </div>
            </div>
            <div class="card">
                <img src="./images/chat.png" alt="">
                <div class="text">
                    <h2>Забота на расстоянии</h2>
                    <p>Мы позаботились о том, чтобы вы чувствовали нашу поддержу постоянно. Для этого мы создали приложение с виртуальным психологом.</p>
                </div>
            </div>
            <div class="card">
                <img src="./images/bulb.png" alt="">
                <div class="text">
                    <h2>Думаем о важном </h2>
                    <p>Займитесь главным, а напоминание о предстоящих сессия мы взяли на себя. </p>
                </div>
            </div>
        </div>
    </div>
    <div>
    </div>
    <div class="main-values2">
        <div class="needsDocuments">
            <h3>Помимо серии собеседований и испытаний по разработанной <br>нами методологии, психологи предоставляют необходимые документы:</h3>
            <h1> необходимые документы</h1>
        </div>
        <div class="cards2">
            <div class="card2">
                <img src="images/book.png" alt="img">
                <div class="text2">
                    <h2>Образование</h2>
                    <p>Диплом о высшем психологическом образовании и дополнительные сертификаты
                    </p>
                </div>
            </div>
            <div class="card2">
                <img src="images/watch.png" alt="img">
                <div class="text2">
                    <h2>Личная терапия</h2>
                    <p>Прохождение личной терапии от 50 часов в год</p>
                </div>
            </div>
            <div class="card2">
                <div class="text3">
                    <h2>Опыт работы</h2>
                    <p>Подтвержденный опыт работы не менее 3-х лет
                    </p>
                </div>
            </div>

        </div>
    </div>
</main>

<footer>
    <nav>
        <div class="footer_text">
            <p>Сотрудничество </p>
            <a href="">@youmiwork</a>
        </div>
        <div class="ssylka">
            <ul>
                <li><a href="#">Пользовательское соглашение</a></li>
                <li><a href="#">Юридические документы </a></li>
                <li><a href="#">Обработка персональных данных</a></li>
            </ul>
        </div>
    </nav>
</footer>
</body>
</html>